<div id="<%= dom_id division %>">
  <p>
    <strong>Name:</strong>
    <%= division.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= division.short_name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= division.active %>
  </p>

</div>
