<div id="<%= dom_id product_line %>">
  <p>
    <strong>Name:</strong>
    <%= product_line.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product_line.code %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= product_line.active %>
  </p>

</div>
