<h1>Editing product line</h1>

<%= render "form", product_line: @product_line %>

<br>

<div>
  <%= link_to "Show this product line", @product_line %> |
  <%= link_to "Back to product lines", product_lines_path %>
</div>
