<h1>Editing municipality</h1>

<%= render "form", municipality: @municipality %>

<br>

<div>
  <%= link_to "Show this municipality", @municipality %> |
  <%= link_to "Back to municipalities", municipalities_path %>
</div>
