<h1>New cooperative franchise</h1>

<%= render "form", cooperative_franchise: @cooperative_franchise %>

<br>

<div>
  <%= link_to "Back to cooperative franchises", cooperative_franchises_path, class: 'btn btn-secondary' %>
</div>
