<div id="<%= dom_id province %>">
  <p>
    <strong>Region:</strong>
    <%= province.region_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= province.name %>
  </p>

  <p>
    <strong>Psgc code:</strong>
    <%= province.psgc_code %>
  </p>

</div>
